.sortingBox {
  width: 100%;
  background-color: var(--mainColorDarker);
  height: 76%;
  background: linear-gradient(145deg, #24282f, #2b2f38);
  box-shadow: inset 9px 9px 17px #1d2025, inset -9px -9px 17px #333843;
  border-radius: 10px;
}
