.WorkingBox {
  width: 90%;

  height: 75vh;
  min-height: 450px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  .left-container {
    width: 65%;

    height: 100%;
  }
  .right-container {
    width: 35%;

    height: 100%;
  }
}
