.storageMessage {
  width: 30%;
  height: 80vh;
  position: absolute;
  background-color: greenyellow;
  right: 0;
  z-index: 5;
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
  transform-origin: top right;
}
