* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  --header1: 5rem;
  --header2: 4.4rem;
  --header3: 4rem;
  --header4: 3.5rem;
  --header5: 3rem;
  --header6: 2.5rem;
  --text-size: 2rem;
  --mainColor: #282c34;
  --mainColorDarker: #21252b;
  --blueColor: #528bff;
  --greyColor: #7d8390;
  --fontColor: #eaf2ff;
  --gradientOrange: linear-gradient(to bottom, #fdc830, #f37335);
  --gradientOrangeShadow: 0px 0px 14px 2px rgba(255, 128, 82, 0.45);
  --gradientBlue: linear-gradient(to bottom, #36d1dc, #5b86e5);
  --gradientBlueShadow: 0px 0px 14px 2px rgba(44, 83, 100, 2);
  --gradientGreen: linear-gradient(to top, #1d976c, #93f9b9);
  --gradientGreenShadow: 0px 0px 14px 2px rgba(147, 249, 185, 0.45);
  --blackGradient: linear-gradient(145deg, #23282e, #1e2127);
  --blackBoxShadow: 6px 6px 12px #191c21, -6px -6px 12px #292e35;
  color: var(--fontColor);
}

h1 {
  font-size: var(--header1);
  font-weight: 300;
}

h2 {
  font-size: var(--header2);
  font-weight: 300;
}

h3 {
  font-size: var(--header3);
  font-weight: 300;
}

h4 {
  font-size: var(--header4);
  font-weight: 300;
}

h5 {
  font-size: var(--header5);
  font-weight: 300;
}
h6 {
  font-size: var(--header6);
  font-weight: 300;
}
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li,
p,
a {
  font-size: var(--text-size);
  font-weight: 300;
}
